/* Typography */

body {
  font-family: 'Anton', sans-serif;
  font-size: 14px;
  color: #696969
}

h1, h2 {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: #00008B
}


/* Layout */
/* Media */